<div class="container mt-3">
  <h3 class="bh-text-bg">Upcoming</h3>
  <% if @confirmed_meetups == [] %>
    <p>There is no upcoming meetup</p>
  <% else %>
    <% @confirmed_meetups.each do |m| %>
      <% if !m.meetup_occurred? %>
        <%= link_to meetup_path(m) do %>
          <div class="bh-card-meetup-index">
            <div class="image-user">
              <%= image_tag m.opposite_user(current_user).photo || "https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80", class: "bh-avatar-sm" %>
            </div>
            <div class="user-info">
              <p style="font-weight: bold; color: black;"><%=  m.opposite_user(current_user).first_name %></p>
              <p style="font-weight: light;">confirmed</p>
            </div>
            <div class="date-languages">
              <p class="date"><%=  m.date.strftime("%b %d, %Y") %></p>
              <!-- sharing -->
              <div class="languages">
                <div class="language-part">
                  <% m.opposite_user(current_user).user_languages.filter(&:sharing).each do |user_language| %>
                    <div class="lang-pro">
                      <div class="language-code"><%=  user_language.language.code %></div>
                      <div class="progress-bar">
                        <div style="background-color: #DDDDDD; width: 20px;">
                          <div style ="width: <%= user_language.level %>; background-color: #80BD9E; height: 7px;"></div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
                <!-- practicing -->
                <div class="language-part">
                  <% m.opposite_user(current_user).user_languages.filter(&:seeking).each do |user_language| %>
                    <div class="lang-pro-seeking">
                      <div class="language-code"><%=  user_language.language.code %></div>
                      <div class="progress-bar">
                        <div style="background-color: #DDDDDD; width: 20px;">
                          <div style ="width: <%= user_language.level %>; background-color: #F49342; height: 7px;"></div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <hr class="meetup-index-hr">
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <h3 class="bh-text-bg">Awaiting your confirmation</h3>
    <% @inbound_meetup_requests.each do |m| %>
      <%= link_to meetup_path(m) do %>
        <div class="bh-card-meetup-index">
          <div class="image-user">
            <%= image_tag m.opposite_user(current_user).photo || "https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80", class: "bh-avatar-sm" %>
          </div>

          <div class="user-info">
            <p style="font-weight: bold; color: black;"><%=  m.opposite_user(current_user).first_name %></p>
            <p style="font-weight: light;">pending</p>
          </div>
          <!-- </div> -->
          <div class="date-languages">
            <p class="date"><%=  m.date.strftime("%b %d, %Y") %></p>
            <!-- sharing -->
            <div class="languages">
              <div class="language-part">
                <% m.opposite_user(current_user).user_languages.filter(&:sharing).each do |user_language| %>
                  <div class="lang-pro">
                    <div class="language-code"><%=  user_language.language.code %></div>
                    <div class="progress-bar">
                      <div style="background-color: #DDDDDD; width: 20px;">
                        <div style ="width: <%= user_language.level %>; background-color: #80BD9E; height: 7px;"></div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <!-- practicing -->
              <div class="language-part">
                <% m.opposite_user(current_user).user_languages.filter(&:seeking).each do |user_language| %>
                  <div class="lang-pro-seeking">
                    <div class="language-code"><%=  user_language.language.code %></div>
                    <div class="progress-bar">
                      <div style="background-color: #DDDDDD; width: 20px;">
                        <div style ="width: <%= user_language.level %>; background-color: #F49342; height: 7px;"></div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <hr class="meetup-index-hr">
      <% end %>
    <% end %>


  <h3 class="bh-text-bg">Request by you</h3>
    <% @outbound_meetup_requests.each do |m| %>
      <%= link_to meetup_path(m) do %>
        <div class="bh-card-meetup-index">
          <div class="image-user">
            <%= image_tag m.opposite_user(current_user).photo || "https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80", class: "bh-avatar-sm" %>
          </div>

          <div class="user-info">
            <p style="font-weight: bold; color: black;"><%=  m.opposite_user(current_user).first_name %></p>
            <p style="font-weight: light;">pending</p>
          </div>
          <!-- </div> -->
          <div class="date-languages">
            <p class="date"><%=  m.date.strftime("%b %d, %Y") %></p>
            <!-- sharing -->
            <div class="languages">
              <div class="language-part">
                <% m.opposite_user(current_user).user_languages.filter(&:sharing).each do |user_language| %>
                  <div class="lang-pro">
                    <div class="language-code"><%=  user_language.language.code %></div>
                    <div class="progress-bar">
                      <div style="background-color: #DDDDDD; width: 20px;">
                        <div style ="width: <%= user_language.level %>; background-color: #80BD9E; height: 7px;"></div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <!-- practicing -->
              <div class="language-part">
                <% m.opposite_user(current_user).user_languages.filter(&:seeking).each do |user_language| %>
                  <div class="lang-pro-seeking">
                    <div class="language-code"><%=  user_language.language.code %></div>
                    <div class="progress-bar">
                      <div style="background-color: #DDDDDD; width: 20px;">
                        <div style ="width: <%= user_language.level %>; background-color: #F49342; height: 7px;"></div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
          <hr class="meetup-index-hr">
      <% end %>
    <% end %>


  <h3 class="bh-text-bg">Past</h3>
  <% if @confirmed_meetups.any? %>
    <p>There is no past meetup</p>
    <hr>
  <% else %>
    <% @confirmed_meetups.select { |cm| !cm.meetup_occurred? }.reverse.each do |m| %>
      <%= link_to meetup_path(m) do %>
        <div class="bh-card-meetup-index">
          <div class="image-user">
            <%= image_tag m.opposite_user(current_user).photo || "https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80", class: "bh-avatar-sm" %>
          </div>

          <div class="user-info">
            <p style="font-weight: bold; color: black;"><%=  m.opposite_user(current_user).first_name %></p>
            <p style="font-weight: light;">confirmed</p>
          </div>
          <!-- </div> -->
          <div class="date-languages">
            <div class="date"><%=  m.date.strftime("%b %d, %Y") %></div>
            <!-- sharing -->
            <div class="date-languages">
            <p class="date"><%=  m.date %></p>
            <!-- sharing -->
            <div class="languages">
              <div class="language-part">
                <% m.opposite_user(current_user).user_languages.filter(&:sharing).each do |user_language| %>
                  <div class="lang-pro">
                    <div class="language-code"><%=  user_language.language.code %></div>
                    <div class="progress-bar">
                      <div style="background-color: #DDDDDD; width: 20px;">
                        <div style ="width: <%= user_language.level %>; background-color: #80BD9E; height: 7px;"></div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <!-- practicing -->
              <div class="language-part">
                <% m.opposite_user(current_user).user_languages.filter(&:seeking).each do |user_language| %>
                  <div class="lang-pro-seeking">
                    <div class="language-code"><%=  user_language.language.code %></div>
                    <div class="progress-bar">
                      <div style="background-color: #DDDDDD; width: 20px;">
                        <div style ="width: <%= user_language.level %>; background-color: #F49342; height: 7px;"></div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          </div>
        </div>
        <hr class="meetup-index-hr">
      <% end %>
    <% end %>
  <% end %>

</div>
