<div class="container">
  
  <div class="bh-flex-container"> 
    
    <div class="bh-flex-element">  
      <img class="bh-avatar-lg" src="<%= @meetup.opposite_user(current_user).photo %>">
    </div>
    
    <div class="bh-flex-element">
      <h3><b><%= @meetup.opposite_user(current_user).first_name %></b></h3>
      <% if @meetup.confirmed %>
        <p>Status: Confirmed</p>
      <% else %>
        <p>Status: <span id="pending">Pending</span></p>
      <% end %>
    </div>
  </div>
  
  
  <div class="bh-flex-container"> 
    
    <div class="bh-flex-element">
      <div class="meetup-show-sharing">
        
      </div>
      <div class="meetup-show-seeking">
        <% @meetup.opposite_user(current_user).user_languages.filter(&:seeking).each do |user_language| %>
          <p style="margin-left: 7px;"> | <%=  user_language.language.code %></p>
        <% end %>
      </div>
    </div>
    
  </div>
  
  
  
  
  <div class="mt-3">
    <div class="meetup-languagues">
  
      <div class="meetup-show-sharing">
        <% @meetup.opposite_user(current_user).user_languages.filter(&:sharing).each do |user_language| %>
          <p style="margin-left: 7px;"><%=  user_language.language.code %> </p>
        <% end %>
      </div>
      <div class="meetup-show-seeking">
        <% @meetup.opposite_user(current_user).user_languages.filter(&:seeking).each do |user_language| %>
          <p style="margin-left: 7px;"> | <%=  user_language.language.code %></p>
        <% end %>
      </div>
    </div>
  
    
  <div class="bh-text-body">
    <h3><b>Bio</b></h3>
    <p><%=  %></p>
  </div>
    
</div>

