<div class="container">

  <div class="mt-4 d-flex justify-content-around">
    <div class="col-6">
      <img class="bh-avatar-lg" src="<%= @meetup.opposite_user(current_user).photo %>">
    </div>
    <div class="mt-3 col-6">
      <h3 class=""><b>With <%= @meetup.opposite_user(current_user).first_name %></b></h3>
      <% if @meetup.confirmed %>
        <p>Status: Confirmed</p>
      <% else %>
        <p>Status: Pending</p>
      <% end %>
    </div>
  </div>

  <div class="mt-3">
    <p>When: <%= "#{@meetup.date.strftime("%d/%m/%Y")}, #{@meetup.start_time.strftime('%H:%M')} - #{@meetup.end_time.strftime('%H:%M')}" %></p>
    <p>Where: <%= @meetup.location %></p>
    <div class="d-flex justify-content-end"><%= link_to "add event to calendar", meetup_get_token_url(@meetup)  %></div>
    <%= image_tag "https://res.cloudinary.com/dgxkozw6v/image/upload/v1575058085/cafe-myriade_kd2faq.png", style:'height:200px; width:500px; margin-bottom:20px; object-fit:cover;' %>
    <div class="d-flex justify-content-end"><%= link_to "Open in Maps >>", "#" %></div>
  </div>

  <div>
    <h3>Greeting message:</h3>
    <p><%= @meetup.greeting %></p>
    <div class="d-flex justify-content-end"><%= link_to "Reply in Messages >>", "#" %></div>
  <div>

<br>
<div class="container">
<% if current_user != @meetup.sender %>
  <%= link_to "Confirm meetup", meetup_path(@meetup), method: :patch, class: "bh-btn-solid-sm" %>
<% else %>
  <%= link_to "Reschedule / Cancel", "#", class: "bh-btn-solid-sm" %>
<% end %>
</div>

</div>

