<div class="container">

  <div class="bh-flex-container">
    <div class="bh-flex-element">
      <%= link_to user_path(@meetup.opposite_user(current_user)) do  %>
        <img class="bh-avatar-lg" src="<%= @meetup.opposite_user(current_user).photo %>">
      <% end %>
    </div>

    <div class="bh-flex-element">
      <h3><b><%= @meetup.opposite_user(current_user).first_name %></b></h3>
      <% if @meetup.confirmed %>
        <p>Status: Confirmed</p>
      <% else %>
        <p>Status: <span id="pending">Pending</span></p>
      <% end %>
      <p class="mt-n2"> <%=  Language.find(@meetup.seeking_lang_id).code %> | <%= @meetup.sharing_lang.code %> </p>
    </div>
  </div>

  <div class="bh-text-body">
    <h3><b>When</b></h3>
    <p>
      <%= "#{@meetup.date.strftime("%a, %b %d %Y")}" %>  ,
      <%= "#{@meetup.start_time.strftime('%l:%M')} - #{@meetup.end_time.strftime('%l:%M %p')}" %>
    </p>

    <h3><b>Where</b></h3>
    <div class="d-flex justify-content-end mb-n4" ><%= link_to "Open in Maps >>", "#" %></div>
    <p>
      <%= @meetup.location %>
    </p>
  </div>

<!-- End of container -->
</div>

<div class="mt-n2" >
<%= image_tag "cafe.png", style:"width:100%" %>
</div>

<!-- Start of new container -->
<div class="container">

  <div class="bh-text-body mt-3">
    <h3><b>Greeting message</b></h3>
    <p><%= @meetup.greeting %></p>
    <div class="d-flex justify-content-end mt-n1"><%= link_to "Open Chat >>", user_chats_path(current_user, other_user: @meetup.opposite_user(current_user)), method: :post %></div>
  </div>

<div class="container">
    <% if @meetup.confirmed && !@meetup.meetup_occurred? %>
      <%= link_to "" do %>
        <button type="button" class="bh-btn-solid-lg-show">
          Reschedule / Cancel
        </button>
      <% end %>
    <% elsif !@meetup.confirmed && @meetup.sender == current_user %>
      <%= link_to "" do %>
        <button type="button" class="bh-btn-solid-lg-show">
          Reschedule / Cancel
        </button>
      <% end %>
    <% elsif @meetup.confirmed && @meetup.meetup_occurred? %>
      <%= link_to "" do %>
        <button type="button" class="bh-btn-solid-lg-show">
          Leave a review
        </button>
      <% end %>
    <% else %>
      <%= link_to meetup_path(@meetup), method: :patch, remote: true do %>
        <button id="confirmed-button" type="button" class="bh-btn-solid-lg-show" data-toggle="modal" data-target="#exampleModal">
          Confirm meetup
        </button>
      <% end %>
      <%= link_to "", remote: true do %>
        <button id="cancel-button" type="button" class="bh-btn-solid-lg-show d-none">
          Reschedule / Cancel
        </button>
      <% end %>
    <% end %>
  </div>
  <br>
</div>
