<div class="container">
  
  <div class="bh-flex-container"> 
    <div class="bh-flex-element">  
      <img class="bh-avatar-lg" src="<%= @meetup.opposite_user(current_user).photo %>">
    </div>
    
    <div class="bh-flex-element mt-1">
      <h3><b><%= @meetup.opposite_user(current_user).first_name %></b></h3>
      <% if @meetup.confirmed %>
        <p>Status: Confirmed</p>
      <% else %>
        <p>Status: <span id="pending">Pending</span></p>
      <% end %>
      <p class="mt-n2"> <%=  @meetup.seeking_lang.code %> | <%= @meetup.sharing_lang.code %> </p>
    </div>
  </div>
  

  <div class="bh-text-body">
    <h3 class="mt-2"><b>When</b></h3>
    <p>
      <%= "#{@meetup.date.strftime("%a, %b %d %Y")}" %>  ,  
      <%= "#{@meetup.start_time.strftime('%l:%M')} - #{@meetup.end_time.strftime('%l:%M %p')}" %>  
    </p>
    
    <h3><b>Where</b></h3>
    <p>
      <%= @meetup.location %>
    </p>
  </div>

  <div class="bh-text-body">
    <h3><b>Bio</b></h3>
    <p><%=  %></p>
  </div>
    
</div>

