<div class="container">


  <%= render 'vocab_items/vocab_item_form', { vocab_item: @vocab_item }%>

    <ul class="vocab-item-list" id="vocab-item-list">
        <% @vocab_items.each do |vi| %>
          <li class="vocab-item" data-lang-id="<%= vi.language.id %>">
            <%= vi.content %>
            <i class="fas fa-volume-up" data-text="<%= vi.content %>" data-iso-code="<%= vi.language.iso_code %>"></i>
          </li>
        <% end %>
      </ul>
</div>

