<div class="container">
  
  <div class="bh-flex-container"> 
    <div class="bh-flex-element">  
      <img class="bh-avatar-lg" src="<%= @user.photo %>">
    </div>
    <div class="bh-flex-element mt-4">
      <h3><b><%= @user.first_name %></b></h3>
      <p class="mt-n1">Past Meetups: <%= @user.num_of_past_meetups %></p>
    </div>
  </div>
  
  <div class="bh-flex-container">  
    
    <div class="bh-flex-element">  
      <h3><b>Sharing</b></h3> 
      <% @user.user_languages.filter(&:sharing).each do |user_language| %> 
        <div class="lang-pro d-flex justify-content-between">
          <span style="width: 1px">
            <%= user_language.language.code %>            
          </span>
          <div class="d-flex align-items-center justify-content-flex-left">
            <div style="background-color: #DDDDDD; width: 50px; height: 13px;">
              <div
                style ="width: <%= user_language.level %>; background-color: #80BD9E; height: 13px;">
              </div>
            </div>
          </div>
          <%= button_to user_language_path(user_language), method: :delete do %>
            <i class="fas fa-minus-circle mr-4"></i>
          <% end %>                 
        </div>
      <% end %> 
      <%= link_to new_user_language_path(ul_type: 'sharing') do %>
        <i class="fas fa-plus-circle"></i>
      <% end %>   
    </div>
    
    <div class="bh-flex-element">  
      <h3><b>Practicing</b></h3> 
      <% @user.user_languages.filter(&:seeking).each do |user_language| %> 
        <div class="lang-pro d-flex justify-content-between">
          <span style="width: 1px">
            <%= user_language.language.code %>            
          </span>
          <div class="d-flex align-items-center justify-content-flex-left">
            <div style="background-color: #DDDDDD; width: 50px; height: 13px;">
              <div
                style ="width: <%= user_language.level %>; background-color: #F49342; height: 13px;">
              </div>
            </div>
          </div>
          <%= button_to user_language_path(user_language), method: :delete do %>
            <i class="fas fa-minus-circle mr-4"></i>
          <% end %>           
        </div>
      <% end %>
      <%= link_to new_user_language_path(ul_type: 'seeking') do %>
        <i class="fas fa-plus-circle"></i>
      <% end %>   
    </div> 
    
  </div>
    
  <div class="bh-text-body">
    <h3><b>Bio</b></h3>
    <p><%= @user.bio %></p>
  </div>

</div>


<div class="bh-button-sticky-bottom">
  <%= link_to "Edit Your profile", edit_user_path(@user), class: "bh-btn-solid-lg-sticky" %>
</div>



