<div class="container">

  <div class="bh-flex-container">
    <div class="bh-flex-element">
      <img class="bh-avatar-lg" src="<%= @user.photo %>">
    </div>
    <div class="bh-flex-element">
      <h3><b><%= @user.first_name %></b></h3>
      <p>Past Meetups: <%= @user.num_of_past_meetups %></p>
    </div>
  </div>

  <div class="bh-flex-container">
    <div class="bh-flex-element">
      <h3><b>Sharing</b></h3>
      <% @user.user_languages.filter(&:sharing).each do |user_language| %>
        <div class=“lang-pro”>
          <%=  user_language.language.code %>
          <div style="background-color: #DDDDDD; width: 70px;">
            <div style ="width: <%= user_language.level %>; background-color: #80BD9E; height: 13px;"></div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="bh-flex-element">
      <h3><b>Practicing</b></h3>
        <% @user.user_languages.filter(&:seeking).each do |user_language| %>
          <div class=“lang-pro”>
            <%=  user_language.language.code %>
            <div style="background-color: #DDDDDD; width: 70px;">
              <div style ="width: <%= user_language.level %>; background-color: #F49342; height: 13px;"></div>
            </div>
          </div>
        <% end %>
    </div>
  </div>

  <div class="bh-text-body">
    <h3><b>Bio</b></h3>
    <p><%= @user.bio %></p>
  </div>

  <div class="d-flex justify-content-end mt-n1"><%= link_to "Chat with #{@user.first_name} >>", user_chats_path(current_user, other_user: @user), method: :post %></div>

  <div class="bh-text-body">
    <h3><b>Reviews</b></h3>
    <% @user.user_reviews.each do |r|%>
      <p><b> <%= r.author.first_name %> | <%= r.date_to_string %></b> <br> <%= r.content %></p>
    <% end %>
  </div>
</div>

<% if @user != current_user %>
  <div class="bh-button-sticky-bottom">
    <%= link_to "Request a Meetup", new_user_meetup_path(@user), class: "bh-btn-solid-lg-sticky" %>
  </div>
<% else %>
  <p><%= link_to "Edit #{@user.first_name}'s profile", edit_user_path(@user) %></p>
<% end %>
