<div class="container mt-1">
 <div class="container">
  <h3 class="bh-text-bg">Your chats:</h3>

  <% if @existing_chats_users %>
    <% @existing_chats_users.each do |other_user| %>
      <% if other_user != current_user %>

        <%= button_to(user_chats_path(current_user, other_user: other_user.id), method: :post, class:"chat-butto_to" ) do %>
          <div class="bh-chat-index">
            <div class="chat-image">
              <%= image_tag other_user.photo || "https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80", class: "bh-avatar-sm" %>
            </div>
            <div class="name-city">
              <p style="font-weight: bold; color: black; margin-bottom: 0px;"><%= other_user.first_name %></p>
              <p style="font-weight: light;"><%= other_user.city %></p>
            </div>
            <div class="chat-last-message">
              <p style="margin-bottom: 0px;">Last message:</p> 
              <% other_user.chats.each do |chat| %>
                <p><%= chat.updated_at.strftime("%b %d, %H:%M") %></p>
              <% end %> 
            </div>
            
          </div>
        <% end %>

      <% end %>
    <% end %>
  <% end %>

  All Users:
    <ul>
      <% User.all.each do |other_user| %>
       <% if other_user != current_user %>
         <li>
           <!-- create or show chat -->
           <%= button_to(user_chats_path(current_user, other_user: other_user.id), method: :post) do %>
           <%= other_user.first_name %>
           <% end %>
         </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
